/* You can add global styles to this file, and also import other style files */
@import "./app/core/styles/_base.scss";
@import "./app/core/styles/_form.scss";
@import "./app/core/styles/_btn.scss";
@import "assets/styles/material-custom-theme";
@import "assets/styles/main";
@import "assets/styles/utilities";
@import "assets/styles/overrides";
@import '~ngx-toastr/toastr';


.card{
    padding: 8px
}
input:focus{
    outline:none;
  }
  .ngx-pagination .current {
    border-radius: 50px !important;
    background: #81bfa2 !important;
    color: #3f5c4e !important;
    font-weight: 600 !important;
  }
  progress::-webkit-progress-bar {background-color: #F6F8FA; width: 100%;
  border-radius: 8px;}
  progress {background-color:  #F6F8FA;border-radius: 8px;}
  
  /* value: */
  progress::-webkit-progress-value {background-color: #00D182 !important;border-radius: 8px;}
  progress::-moz-progress-bar {background-color: #00D182 !important;border-radius: 8px;}
  progress {color: #00D182;width: 100%;}