html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', Roboto, sans-serif;
}

.phone_number {
  direction: ltr;
  unicode-bidi: embed;
}
i{
  color: $primary-green !important;
}